pipeline/Dynamic_Pipeline.json
{
	"name": "Dynamic_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup - get all tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "ServerName",
						"value": "sqlserverrbk000.database.windows.net"
					},
					{
						"name": "DatabaseName",
						"value": "sqldatabaserbk000"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select QUOTENAME (t.name) as tableName, QUOTENAME(SCHEMA_NAME(t.schema_id)) as schemaName FROM sys.tables as t",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CustomerSQL_DS_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@pipeline().parameters.ServerName",
								"type": "Expression"
							},
							"DatabaseName": {
								"value": "@pipeline().parameters.DatabaseName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - get all tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - get all tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT* FROM',item().SchemaName,'.',item().tableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CustomerSQL_DS_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.ServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CustomerCSV_DS_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.ServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"ServerName": {
				"type": "String",
				"defaultValue": "sqlserverrbk000.database.windows.net"
			},
			"DatabaseName": {
				"type": "String",
				"defaultValue": "sqldatabaserbk000"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-11-09T07:57:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}